In [164]:
#CPI All Urban Consumers 1976-1985
import requests
import json
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0L1E'],"startyear":"1976", "endyear":"2018"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [135]:
data = []
month = []
year = []


for results in json_data['Results']['series'][0]['data']:
    data.append(results["value"])
    month.append(results["periodName"])
    year.append(results["year"])

new_dict = {"year": year, "month": month, "data": data}
cpi = pd.DataFrame(new_dict)
cpi

     year      month   data
0    1985   December  111.3
1    1985   November  111.2
2    1985    October  110.7
3    1985  September  110.0
4    1985     August  109.4
..    ...        ...    ...
115  1976        May   57.0
116  1976      April   56.7
117  1976      March   56.4
118  1976   February   56.0
119  1976    January   55.7

[120 rows x 3 columns]

In [163]:
#CPI All Urban Consumers 1986-1995
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0L1E'],"startyear":"1986", "endyear":"2018"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data_2 = json.loads(p.text)

In [134]:
data_2 = []
month_2 = []
year_2 = []


for results in json_data_2['Results']['series'][0]['data']:
    data_2.append(results["value"])
    month_2.append(results["periodName"])
    year_2.append(results["year"])

new_dict = {"year": year_2, "month": month_2, "data": data_2}
cpi_2 = pd.DataFrame(new_dict)
cpi_2

     year      month   data
0    1995   December  162.7
1    1995   November  163.0
2    1995    October  162.8
3    1995  September  162.1
4    1995     August  161.6
..    ...        ...    ...
115  1986        May  112.9
116  1986      April  112.7
117  1986      March  112.3
118  1986   February  111.9
119  1986    January  111.6

[120 rows x 3 columns]

In [162]:
#CPI All Urban Consumers 1996-2005
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0L1E'],"startyear":"1996", "endyear":"2018"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data_3 = json.loads(p.text)

In [133]:
data_3 = []
month_3 = []
year_3 = []


for results in json_data_3['Results']['series'][0]['data']:
    data_3.append(results["value"])
    month_3.append(results["periodName"])
    year_3.append(results["year"])

new_dict = {"year": year_3, "month": month_3, "data": data_3}
cpi_3 = pd.DataFrame(new_dict)
cpi_3

     year      month   data
0    2005   December  202.1
1    2005   November  202.3
2    2005    October  202.3
3    2005  September  201.3
4    2005     August  201.0
..    ...        ...    ...
115  1996        May  165.1
116  1996      April  165.0
117  1996      March  164.9
118  1996   February  164.2
119  1996    January  163.4

[120 rows x 3 columns]

In [161]:
#CPI All Urban Consumers 2006-2015
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0L1E'],"startyear":"2006", "endyear":"2018"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data_4 = json.loads(p.text)

In [100]:
json_data_4['Results']['series'][0]['data'][0]

{'year': '2015',
 'period': 'M12',
 'periodName': 'December',
 'value': '243.779',
 'footnotes': [{}]}

In [65]:
from pandas.io.json import json_normalize

In [145]:
data_4 = []
month_4 = []
year_4_2 = []

for results in json_data_4['Results']['series'][0]['data']:
    data_4.append(results["value"])
    month_4.append(results["periodName"])
    year_4_2.append(results["year"])

In [132]:
new_dict = {"year": year_4, "month": month_4, "data": data_4}
cpi_4 = pd.DataFrame(new_dict)
cpi_4

     year      month     data
0    2015   December  243.779
1    2015   November  244.075
2    2015    October  243.985
3    2015  September  243.359
4    2015     August  242.651
..    ...        ...      ...
115  2006        May    205.7
116  2006      April    205.5
117  2006      March    204.9
118  2006   February    203.6
119  2006    January    202.6

[120 rows x 3 columns]

In [160]:
#Period CPI
cpi_f = pd.concat([cpi,cpi_2,cpi_3,cpi_4])
cpi_f

     year      month   data
0    1985   December  111.3
1    1985   November  111.2
2    1985    October  110.7
3    1985  September  110.0
4    1985     August  109.4
..    ...        ...    ...
115  2006        May  205.7
116  2006      April  205.5
117  2006      March  204.9
118  2006   February  203.6
119  2006    January  202.6

[480 rows x 3 columns]